<%- include('partials/header'); -%>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
</script>


    <div>
      
        <div class='wrapper'>
            <table  class="ledger_table" id = "ledger_table" >
              <tr>
                
                
                <th id="transaction_number_heading" class="ledger_heading">Transaction Number</th>
                <th id="ledger_heading"class="ledger_heading">Date</th>
                <th id="ledger_heading"class="ledger_heading">Payer    </th>
                <th id="ledger_heading"class="ledger_heading">Beneficiery</th>
                <th id="ledger_heading"class="ledger_heading">Amount</th>
                <th id="ledger_heading"class="ledger_heading">Reference</th>
              </tr> 
              
              <% let transaction_number = 0; %>
                  <% transactions.forEach(function(transaction){ %>
                    
                     
                     
                    <% if (transaction.payer === user.name || transaction.receiver === user.name) { %>
                    <tr>
                      <%transaction_number +=1; %>
                      
                  <td id="ledger_data" class = "ledger_data" ><%= transaction_number %></td>  
                  <td id="date_data" class = "ledger_data"><%= transaction.createdAt %></td>  
                  <td id="ledger_data" class = "ledger_data"><%= transaction.payer %></td> 
                  <td id="ledger_data" class = "ledger_data"><%= transaction.receiver %></td> 
                  <td id="ledger_amount" class = "ledger_data"><%= transaction.payment_amount %></td>   
                  <td id="ledger_data" class = "ledger_data"><%= transaction.note %></td> 
                </tr>
                <% } %>
                  <% }); %>
                  
                
                
              </tr>
              </table>
        </div>
        
    </div>
    

  

  

    
    <%- include('partials/footer'); -%>